<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>
    <% if product.photo.attached? %>
    <%= image_tag url_for(product.photo), size: "300x300" %>
<% else %>
  <p>No image available</p>
<% end %>


</div>
